Bbone/Node-Red/flows_arm.json
[{
    "type": "tab",
    "id": "86e88b13.791778",
    "label": "Sayan"
}, {
    "type": "tab",
    "id": "cf38e40f.f8408",
    "label": "Sudhee"
}, {
    "type": "tab",
    "id": "ff050019.7cc1c8",
    "label": "Meera"
}, {
    "type": "tab",
    "id": "15f06e46.c96fba",
    "label": "Suku"
}, {
    "id": "7b50bb18.cf1dd4",
    "type": "mqtt-broker",
    "broker": "npwvlf.messaging.internetofthings.ibmcloud.com",
    "port": "1883",
    "clientid": "d:npwvlf:iotsample-raspberrypi:14cc2021e34b"
}, {
    "id": "35a351d3.7f9b1e",
    "type": "mqtt in",
    "name": "Receive Command",
    "topic": "iot-2/cmd/reboot/fmt/json",
    "broker": "7b50bb18.cf1dd4",
    "x": 1092.750015258789,
    "y": 44.750003814697266,
    "z": "86e88b13.791778",
    "wires": [
        ["6c0f550b.4c564c", "c0decd7a.3f213"]
    ]
}, {
    "id": "6c0f550b.4c564c",
    "type": "debug",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 1435.750015258789,
    "y": 47.750003814697266,
    "z": "86e88b13.791778",
    "wires": []
}, {
    "id": "47bdb8b5.32a27",
    "type": "mqtt out",
    "name": "Send data",
    "topic": "iot-2/evt/status/fmt/json",
    "qos": "",
    "retain": "",
    "broker": "7b50bb18.cf1dd4",
    "x": 1502.750015258789,
    "y": 271.75000381469727,
    "z": "86e88b13.791778",
    "wires": []
}, {
    "id": "12dc5e99.ed23a1",
    "type": "inject",
    "name": "",
    "topic": "",
    "payload": "\"Hello Earthling\"",
    "payloadType": "string",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 1104.750015258789,
    "y": 269.75000381469727,
    "z": "86e88b13.791778",
    "wires": [
        ["47bdb8b5.32a27", "6c0f550b.4c564c"]
    ]
}, {
    "id": "c0decd7a.3f213",
    "type": "function",
    "name": "Check message",
    "func": "var sBuffer = msg.payload\nif (sBuffer == \"\\\"Hello World\\\"\")\n\t\tsBuffer = \"\\\"Hello Earthling\\\"\";\n\telse\n\t\tsBuffer = \"\\\"Abracadabra\\\"\";\n//var retMsg ={topic:\"IOT-2/cmd/reboot/fmt/json\",payload:sBuffer,qos:0,retain:false};\nvar retMsg = {payload:sBuffer};\nreturn retMsg;",
    "outputs": 1,
    "x": 1306.750015258789,
    "y": 145.75000381469727,
    "z": "86e88b13.791778",
    "wires": [
        ["47bdb8b5.32a27", "c42591a0.3bda7"]
    ]
}, {
    "id": "c42591a0.3bda7",
    "type": "debug",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 1558.750015258789,
    "y": 146.75000381469727,
    "z": "86e88b13.791778",
    "wires": []
}, {
    "id": "c4bcc1a3.3b434",
    "type": "tail",
    "name": "Watson Text",
    "split": false,
    "filename": "/home/ubuntu/Development/BeagleBone/texts/transcript.txt",
    "x": 193.25,
    "y": 681.000002861023,
    "z": "86e88b13.791778",
    "wires": [
        ["9ff81c4d.6007e", "316bcce6.ce9434"]
    ]
}, {
    "id": "2fa88099.d0578",
    "type": "debug",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "payload",
    "x": 816.2500114440918,
    "y": 617.0000114440918,
    "z": "86e88b13.791778",
    "wires": []
}, {
    "id": "cea938ac.3156c8",
    "type": "inject",
    "name": "Move Forward",
    "topic": "",
    "payload": "move forward",
    "payloadType": "string",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 186.75000762939453,
    "y": 113.50000381469727,
    "z": "86e88b13.791778",
    "wires": [
        ["1b9dd061.e4623"]
    ]
}, {
    "id": "d98e1a71.2671e8",
    "type": "inject",
    "name": "Reverse",
    "topic": "",
    "payload": "reverse",
    "payloadType": "string",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 204.75000762939453,
    "y": 165.50000381469727,
    "z": "86e88b13.791778",
    "wires": [
        ["1b9dd061.e4623"]
    ]
}, {
    "id": "94e13fc7.6b1ec",
    "type": "inject",
    "name": "Turn 90 Degrees Left",
    "topic": "",
    "payload": "turn ninety degrees left",
    "payloadType": "string",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 163.75000762939453,
    "y": 209.50000381469727,
    "z": "86e88b13.791778",
    "wires": [
        ["1b9dd061.e4623"]
    ]
}, {
    "id": "4f183ae1.b0e7c4",
    "type": "inject",
    "name": "Turn 90 Degrees Right",
    "topic": "",
    "payload": "turn ninety degrees right",
    "payloadType": "string",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 159.75000762939453,
    "y": 262.50000381469727,
    "z": "86e88b13.791778",
    "wires": [
        ["1b9dd061.e4623"]
    ]
}, {
    "id": "994a2ff9.66b5d",
    "type": "inject",
    "name": "Turn Bit Left",
    "topic": "",
    "payload": "turn bit left",
    "payloadType": "string",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 193.75000762939453,
    "y": 312.50000381469727,
    "z": "86e88b13.791778",
    "wires": [
        ["1b9dd061.e4623"]
    ]
}, {
    "id": "27acaa24.d85356",
    "type": "inject",
    "name": "Turn Bit Right",
    "topic": "",
    "payload": "turn bit right",
    "payloadType": "string",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 189.75000762939453,
    "y": 362.50000381469727,
    "z": "86e88b13.791778",
    "wires": [
        ["1b9dd061.e4623"]
    ]
}, {
    "id": "1b9dd061.e4623",
    "type": "function",
    "name": "Speech2Text",
    "func": "var wave;\nvar text=\"~/Development/BeagleBone/texts/transcript.txt\";\nswitch (msg.payload)\n{\n\tcase \"move forward\":\n\t\twave=\"~/Development/BeagleBone/waves/move-forward.wav\";\n\t\tbreak;\n\tcase \"reverse\":\n\t\twave=\"~/Development/BeagleBone/waves/reverse.wav\";\n\t\tbreak;\n\tcase \"turn ninety degrees left\":\n\t\twave=\"~/Development/BeagleBone/waves/turn-90-deg-left.wav\";\n\t\tbreak;\n\tcase \"turn ninety degrees right\":\n\t\twave=\"~/Development/BeagleBone/waves/turn-90-deg-right.wav\";\n\t\tbreak;\n\tcase \"turn bit left\":\n\t\twave=\"~/Development/BeagleBone/waves/turn-bit-left.wav\";\n\t\tbreak;\n\tcase \"turn bit right\":\n\t\twave=\"~/Development/BeagleBone/waves/turn-bit-right.wav\";\n\t\tbreak;\n\tcase \"sample 1\":\n\t\twave=\"~/Development/BeagleBone/waves/sample1.wav\";\n\t\tbreak;\n}\n\nvar retMsg = {payload: wave+\" \"+text};\n\nreturn retMsg;",
    "outputs": 1,
    "x": 511.75000762939453,
    "y": 277.50000381469727,
    "z": "86e88b13.791778",
    "wires": [
        ["61526675.9ead98"]
    ]
}, {
    "id": "61526675.9ead98",
    "type": "exec",
    "command": "node ~/Development/BeagleBone/S2T_Rover/voice_control.js",
    "append": "",
    "useSpawn": "",
    "name": "Speech2Text",
    "x": 708.7500076293945,
    "y": 278.50000381469727,
    "z": "86e88b13.791778",
    "wires": [
        ["d92e2a7f.26d1d8"],
        [],
        []
    ]
}, {
    "id": "1fd875d5.e0278a",
    "type": "mqtt in",
    "name": "",
    "topic": "iot-2/cmd/bbone/fmt/json",
    "broker": "7b50bb18.cf1dd4",
    "x": 128,
    "y": 141,
    "z": "cf38e40f.f8408",
    "wires": [
        ["a91beffa.56e41", "cc5d6937.33a298"]
    ]
}, {
    "id": "a91beffa.56e41",
    "type": "debug",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 301,
    "y": 80,
    "z": "cf38e40f.f8408",
    "wires": []
}, {
    "id": "cc5d6937.33a298",
    "type": "function",
    "name": "Transform",
    "func": "var dir = \"paris\";\nreturn {payload:dir};",
    "outputs": 1,
    "x": 326,
    "y": 226,
    "z": "cf38e40f.f8408",
    "wires": [
        ["b06830fa.4f97d"]
    ]
}, {
    "id": "b06830fa.4f97d",
    "type": "debug",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 456,
    "y": 165,
    "z": "cf38e40f.f8408",
    "wires": []
}, {
    "id": "9ff81c4d.6007e",
    "type": "function",
    "name": "Voice Recognition Main",
    "func": "var command;\nvar rCmd = msg.payload;\nrCmd = rCmd.replace(/[\\x0a]/g, \"\");\nswitch (rCmd)\n{\n\tcase \"move forward \":\n\t\tcommand=7;\n\t\tbreak;\n\tcase \"reverse \":\n\t\tcommand=8;\n\t\tbreak;\n\tcase \"turn ninety degrees left \":\n\t\tcommand=1;\n\t\tbreak;\n\tcase \"turn ninety degrees right \":\n\t\tcommand=2;\n\t\tbreak;\n\tcase \"turn bit left \":\n\t\tcommand=3;\n\t\tbreak;\n\tcase \"turn bit right \":\n\t\tcommand=4;\n\t\tbreak;\n\tcase \"revert to auto\":\n\t\tcommand=9;\n\t\tbreak;\n\tdefault:\n\t\tcommand=\"gibberish\";\n\t\tbreak;\n}\n\nvar retMsg = {payload: command};\nreturn retMsg;",
    "outputs": "1",
    "x": 529.5000076293945,
    "y": 680.0000085830688,
    "z": "86e88b13.791778",
    "wires": [
        ["2fa88099.d0578", "a0f95cd9.5f06a"]
    ]
}, {
    "id": "513023e0.aecfdc",
    "type": "inject",
    "name": "Move Forward",
    "topic": "",
    "payload": "move forward ",
    "payloadType": "string",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 186.25,
    "y": 751.2500095367432,
    "z": "86e88b13.791778",
    "wires": [
        ["9ff81c4d.6007e"]
    ]
}, {
    "id": "4a01fd55.b5fe04",
    "type": "inject",
    "name": "Reverse",
    "topic": "",
    "payload": "reverse ",
    "payloadType": "string",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 203.75,
    "y": 816.2500019073486,
    "z": "86e88b13.791778",
    "wires": [
        ["9ff81c4d.6007e"]
    ]
}, {
    "id": "6d78f37b.92870c",
    "type": "inject",
    "name": "Turn 90 Deg Left",
    "topic": "",
    "payload": "turn ninety degrees left ",
    "payloadType": "string",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 178.75000762939453,
    "y": 876.2500114440918,
    "z": "86e88b13.791778",
    "wires": [
        ["9ff81c4d.6007e"]
    ]
}, {
    "id": "d1180a6d.2ee7f8",
    "type": "inject",
    "name": "Turn 90 Deg Right",
    "topic": "",
    "payload": "turn ninety degrees right ",
    "payloadType": "string",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 177.50000762939453,
    "y": 938.7500114440918,
    "z": "86e88b13.791778",
    "wires": [
        ["9ff81c4d.6007e"]
    ]
}, {
    "id": "b922787a.46dd88",
    "type": "inject",
    "name": "Turn Bit Left",
    "topic": "",
    "payload": "turn bit left ",
    "payloadType": "string",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 195,
    "y": 1002.5000133514404,
    "z": "86e88b13.791778",
    "wires": [
        ["9ff81c4d.6007e"]
    ]
}, {
    "id": "e051d8fe.1fae28",
    "type": "inject",
    "name": "Turn Bit Right",
    "topic": "",
    "payload": "turn bit right ",
    "payloadType": "string",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 192.5,
    "y": 1058.7500133514404,
    "z": "86e88b13.791778",
    "wires": [
        ["9ff81c4d.6007e"]
    ]
}, {
    "id": "9ef907ac.6106f8",
    "type": "comment",
    "name": "Flow 2: Voice Command Flow",
    "info": "",
    "x": 175,
    "y": 542.5000095367432,
    "z": "86e88b13.791778",
    "wires": []
}, {
    "id": "52726bd6.ad8d94",
    "type": "comment",
    "name": "Flow 1: Voice Recognition with Watson Flow",
    "info": "",
    "x": 217.5,
    "y": 48.750000953674316,
    "z": "86e88b13.791778",
    "wires": []
}, {
    "id": "90e8b25.f6f175",
    "type": "inject",
    "name": "",
    "topic": "",
    "payload": "Any old thing",
    "payloadType": "string",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 192.5,
    "y": 1126.2500171661377,
    "z": "86e88b13.791778",
    "wires": [
        ["9ff81c4d.6007e"]
    ]
}, {
    "id": "316bcce6.ce9434",
    "type": "debug",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "payload",
    "x": 497.50000762939453,
    "y": 618.7500095367432,
    "z": "86e88b13.791778",
    "wires": []
}, {
    "id": "a498c229.5b674",
    "type": "inject",
    "name": "Watson Sample 1",
    "topic": "",
    "payload": "sample 1",
    "payloadType": "string",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 177.5,
    "y": 422.5000066757202,
    "z": "86e88b13.791778",
    "wires": [
        ["1b9dd061.e4623"]
    ]
}, {
    "id": "b23f88da.4dc078",
    "type": "watch",
    "name": "Wave watcher",
    "files": "/home/ubuntu/Development/BeagleBone/waves/",
    "x": 178.75000762939453,
    "y": 476.2500066757202,
    "z": "86e88b13.791778",
    "wires": [
        ["f5da857f.0a2578", "85433db8.7abcc"]
    ]
}, {
    "id": "f5da857f.0a2578",
    "type": "function",
    "name": "S2T Params",
    "func": "var wave=msg.payload;\nvar text=\"~/Development/BeagleBone/texts/transcript.txt\";\nvar retMsg = {payload: wave+\" \"+text};\nreturn retMsg;",
    "outputs": 1,
    "x": 510.00000762939453,
    "y": 366.2500057220459,
    "z": "86e88b13.791778",
    "wires": [
        ["61526675.9ead98"]
    ]
}, {
    "id": "a0f95cd9.5f06a",
    "type": "mqtt out",
    "name": "Send to RasPi",
    "topic": "iot-2/evt/bbone/fmt/json",
    "qos": "",
    "retain": "",
    "broker": "7b50bb18.cf1dd4",
    "x": 824.7500114440918,
    "y": 678.5000114440918,
    "z": "86e88b13.791778",
    "wires": []
}, {
    "id": "704d85cf.8fb27c",
    "type": "inject",
    "name": "Test message",
    "topic": "",
    "payload": "\"test load\"",
    "payloadType": "string",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 562.5000076293945,
    "y": 789.2500123977661,
    "z": "86e88b13.791778",
    "wires": [
        ["a0f95cd9.5f06a"]
    ]
}, {
    "id": "d00655ca.2ff9a8",
    "type": "comment",
    "name": "Receive trigger from RasPi to initiate voice control",
    "info": "",
    "x": 198,
    "y": 37,
    "z": "cf38e40f.f8408",
    "wires": []
}, {
    "id": "199b8fbc.e6647",
    "type": "comment",
    "name": "Rover destination - Store and Retrieve Service",
    "info": "",
    "x": 174.5,
    "y": 365,
    "z": "cf38e40f.f8408",
    "wires": []
}, {
    "id": "de359abb.21ca68",
    "type": "comment",
    "name": "Flow 3: Play back voice prompt",
    "info": "",
    "x": 188.75,
    "y": 1208.750018119812,
    "z": "86e88b13.791778",
    "wires": []
}, {
    "id": "250a3ead.daf5c2",
    "type": "comment",
    "name": "Flow 4: Get voice command",
    "info": "",
    "x": 177.5,
    "y": 1518.7500228881836,
    "z": "86e88b13.791778",
    "wires": []
}, {
    "id": "85433db8.7abcc",
    "type": "debug",
    "name": "New File",
    "active": true,
    "console": "false",
    "complete": "payload",
    "x": 538.3333333333333,
    "y": 473.33333333333326,
    "z": "86e88b13.791778",
    "wires": []
}, {
    "id": "d92e2a7f.26d1d8",
    "type": "debug",
    "name": "Watson Output",
    "active": true,
    "console": "false",
    "complete": "payload",
    "x": 928.3333333333331,
    "y": 379.99999999999994,
    "z": "86e88b13.791778",
    "wires": []
}]
